.footer{
  width: 100%;
  background-color: rgb(201, 152, 152);
  margin-top: 50px;
  padding: 25px;
  padding-bottom: 10px;
  h1{
   text-align: center;
  }
  h3{
   text-align: end;
   margin-right: 20px;
  //  line-height: ;
  text-align: center;
  a{
    // text-decoration: none;
    color: white;
  }
  }
  h2{
   text-align: center;
  }
  p{
   text-align: left;
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: 768px) and (max-width: 1024px) {

}

/////////////////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: 320px) and (max-width: 480px) {
  h2{
    font-size: 14px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  h2{
    font-size: 14px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (min-width: 1281px)  {

}
