<div class="admin-link">
  <a routerLink='../a1dm0i1n00i1s1t4r1a1t1i1o1n1edm3i1n1i1s1t1r9a1t1i6o1n1a1dm0i1n00i1343244r1a1t1isdcfsen1edm3i1n1i1s1t1r9a1t1iaksbx2jj12kjb33j4ni1s1t4r1a1t1i1o1n1edm3i1n1i1s1t1r9a1t1i6o1n1'>
    Retour à l'administration</a>
</div>

<h1>Liste des fichiers patients</h1>

<div class="patient-liste">

  <div class="single-patient" *ngFor="let patient of patients">

    <h2> {{patient.first_name}}  {{patient.last_name}} </h2>

    <h2> {{patient.email}}  {{patient.allergy}} </h2>


    <h3> {{patient.age}} </h3>

    <p> {{patient.pdesease}} </p>

    <p> Son numéro de téléphone est : {{patient.phone_number}} </p>

    <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Rendez vous confirmé</label> -->

  </div>

</div>




