<!-- <app-header></app-header> -->

<app-nheader></app-nheader>

<h1>Nos conseils a propos des maladies frequentes</h1>

<div class="conseils">

  <div class="conseil">

    <h3>Le diabete</h3>
    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <!-- <mat-panel-title></mat-panel-title> -->
        <mat-panel-description>
          Qu'est ce que le diabete ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Le diabète empêche le corps d'utiliser
        convenablement le sucre comme source
        d'énergie. Le diabète est une maladie
       chronique qui ne se guérit pas, mais que
       l'on peut traiter. Il est causé par un
       manque ou un défaut d'utilisation d'une
       hormone appelée insuline, ou bien les
        deux. L'insuline est produite par le pancréas.</p>

    </mat-expansion-panel>

    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <!-- <mat-panel-title></mat-panel-title> -->
        <mat-panel-description>
          Comment prevenir le diabete ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>La clé se trouve dans l'alimentation : limitez la consommation de sucres et de gras saturés,
         optez pour les bonnes graisses, les fibres et certaines épices comme la cannelle et le curcuma
         qui semblent faire baisser la glycémie.</p>

    </mat-expansion-panel>

    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <!-- <mat-panel-title></mat-panel-title> -->
        <mat-panel-description>
         Comment vivre avec le diabete ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Le traitement du diabète (type 1 ou 2) repose sur l'alimentation, l'exercice physique et
         des traitements médicaux : médicaments par voie orale ou injectable (insuline).</p>

    </mat-expansion-panel>

  </div>

   <div class="conseil">

    <h3>Le cancer du col</h3>
    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description>
          Qu'est ce que le cancer du col ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>C'est une tumeur maligne de la partie la plus basse de l'utérus, qui peut être dépistée à l'aide
         d'un frottis vaginal et qui peut être prévenue par un vaccin contre les infections à papillomavirus humain.
        Cette maladie peut être asymptomatique. Dans quelques cas, des douleurs ou des saignements irréguliers
         peuvent apparaître.Les traitements comprennent la chirurgie, la radiothérapie ou la chimiothérapie.</p>

    </mat-expansion-panel>

    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description>
          Comment prevenir le cancer du col ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Pour réduire le risque de cancer du col de l'utérus:
        faites-vous vacciner contre le virus du papillome humain (VPH),
        adoptez des pratiques sexuelles plus sûres,
        suivez les lignes directrices sur le dépistage du cancer,
        vivez sans fumée.
        </p>

    </mat-expansion-panel>

    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description>
         Les symptômes cancer du col ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>
           Saignements vaginaux anormaux, entre autres entre les menstruations, après la ménopause et à la suite
           de relations sexuelles, pertes vaginales anormales ou plus abondantes, pertes vaginales malodorantes,
           menstruations inhabituellement longues ou abondantes, saignement après un examen pelvien ou une douche
           vaginale.
      </p>

    </mat-expansion-panel>

  </div>

  <!--<div class="conseil">

    <h3>Le diabete</h3>
    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description>
          Qu'est ce que le diabete ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Le diabète empêche le corps d'utiliser
        convenablement le sucre comme source
        d'énergie. Le diabète est une maladie
       chronique qui ne se guérit pas, mais que
       l'on peut traiter. Il est causé par un
       manque ou un défaut d'utilisation d'une
       hormone appelée insuline, ou bien les
        deux. L'insuline est produite par le pancréas.</p>

    </mat-expansion-panel>

    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description>
          Comment prevenir le diabete ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Le diabète empêche le corps d'utiliser
        convenablement le sucre comme source
        d'énergie. Le diabète est une maladie
       chronique qui ne se guérit pas, mais que
       l'on peut traiter. Il est causé par un
       manque ou un défaut d'utilisation d'une
       hormone appelée insuline, ou bien les
        deux. L'insuline est produite par le pancréas.</p>

    </mat-expansion-panel>

    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description>
         Comment vivre avec le diabete ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Le diabète empêche le corps d'utiliser
        convenablement le sucre comme source
        d'énergie. Le diabète est une maladie
       chronique qui ne se guérit pas, mais que
       l'on peut traiter. Il est causé par un
       manque ou un défaut d'utilisation d'une
       hormone appelée insuline, ou bien les
        deux. L'insuline est produite par le pancréas.</p>

    </mat-expansion-panel>

  </div>

  <div class="conseil">

    <h3>Le diabete</h3>
    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description>
          Qu'est ce que le diabete ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Le diabète empêche le corps d'utiliser
        convenablement le sucre comme source
        d'énergie. Le diabète est une maladie
       chronique qui ne se guérit pas, mais que
       l'on peut traiter. Il est causé par un
       manque ou un défaut d'utilisation d'une
       hormone appelée insuline, ou bien les
        deux. L'insuline est produite par le pancréas.</p>

    </mat-expansion-panel>

    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description>
          Comment prevenir le diabete ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Le diabète empêche le corps d'utiliser
        convenablement le sucre comme source
        d'énergie. Le diabète est une maladie
       chronique qui ne se guérit pas, mais que
       l'on peut traiter. Il est causé par un
       manque ou un défaut d'utilisation d'une
       hormone appelée insuline, ou bien les
        deux. L'insuline est produite par le pancréas.</p>

    </mat-expansion-panel>

    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description>
         Comment vivre avec le diabete ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Le diabète empêche le corps d'utiliser
        convenablement le sucre comme source
        d'énergie. Le diabète est une maladie
       chronique qui ne se guérit pas, mais que
       l'on peut traiter. Il est causé par un
       manque ou un défaut d'utilisation d'une
       hormone appelée insuline, ou bien les
        deux. L'insuline est produite par le pancréas.</p>

    </mat-expansion-panel>

  </div>

  <div class="conseil">

    <h3>Le diabete</h3>
    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description>
          Qu'est ce que le diabete ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Le diabète empêche le corps d'utiliser
        convenablement le sucre comme source
        d'énergie. Le diabète est une maladie
       chronique qui ne se guérit pas, mais que
       l'on peut traiter. Il est causé par un
       manque ou un défaut d'utilisation d'une
       hormone appelée insuline, ou bien les
        deux. L'insuline est produite par le pancréas.</p>

    </mat-expansion-panel>

    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description>
          Comment prevenir le diabete ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Le diabète empêche le corps d'utiliser
        convenablement le sucre comme source
        d'énergie. Le diabète est une maladie
       chronique qui ne se guérit pas, mais que
       l'on peut traiter. Il est causé par un
       manque ou un défaut d'utilisation d'une
       hormone appelée insuline, ou bien les
        deux. L'insuline est produite par le pancréas.</p>

    </mat-expansion-panel>

    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description>
         Comment vivre avec le diabete ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Le diabète empêche le corps d'utiliser
        convenablement le sucre comme source
        d'énergie. Le diabète est une maladie
       chronique qui ne se guérit pas, mais que
       l'on peut traiter. Il est causé par un
       manque ou un défaut d'utilisation d'une
       hormone appelée insuline, ou bien les
        deux. L'insuline est produite par le pancréas.</p>

    </mat-expansion-panel>

  </div>

  <div class="conseil">

    <h3>Le diabete</h3>
    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description>
          Qu'est ce que le diabete ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Le diabète empêche le corps d'utiliser
        convenablement le sucre comme source
        d'énergie. Le diabète est une maladie
       chronique qui ne se guérit pas, mais que
       l'on peut traiter. Il est causé par un
       manque ou un défaut d'utilisation d'une
       hormone appelée insuline, ou bien les
        deux. L'insuline est produite par le pancréas.</p>

    </mat-expansion-panel>

    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description>
          Comment prevenir le diabete ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Le diabète empêche le corps d'utiliser
        convenablement le sucre comme source
        d'énergie. Le diabète est une maladie
       chronique qui ne se guérit pas, mais que
       l'on peut traiter. Il est causé par un
       manque ou un défaut d'utilisation d'une
       hormone appelée insuline, ou bien les
        deux. L'insuline est produite par le pancréas.</p>

    </mat-expansion-panel>

    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description>
         Comment vivre avec le diabete ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Le diabète empêche le corps d'utiliser
        convenablement le sucre comme source
        d'énergie. Le diabète est une maladie
       chronique qui ne se guérit pas, mais que
       l'on peut traiter. Il est causé par un
       manque ou un défaut d'utilisation d'une
       hormone appelée insuline, ou bien les
        deux. L'insuline est produite par le pancréas.</p>

    </mat-expansion-panel>

  </div>

  <div class="conseil">

    <h3>Le diabete</h3>
    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description>
          Qu'est ce que le diabete ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Le diabète empêche le corps d'utiliser
        convenablement le sucre comme source
        d'énergie. Le diabète est une maladie
       chronique qui ne se guérit pas, mais que
       l'on peut traiter. Il est causé par un
       manque ou un défaut d'utilisation d'une
       hormone appelée insuline, ou bien les
        deux. L'insuline est produite par le pancréas.</p>

    </mat-expansion-panel>

    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description>
          Comment prevenir le diabete ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Le diabète empêche le corps d'utiliser
        convenablement le sucre comme source
        d'énergie. Le diabète est une maladie
       chronique qui ne se guérit pas, mais que
       l'on peut traiter. Il est causé par un
       manque ou un défaut d'utilisation d'une
       hormone appelée insuline, ou bien les
        deux. L'insuline est produite par le pancréas.</p>

    </mat-expansion-panel>

    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description>
         Comment vivre avec le diabete ?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Le diabète empêche le corps d'utiliser
        convenablement le sucre comme source
        d'énergie. Le diabète est une maladie
       chronique qui ne se guérit pas, mais que
       l'on peut traiter. Il est causé par un
       manque ou un défaut d'utilisation d'une
       hormone appelée insuline, ou bien les
        deux. L'insuline est produite par le pancréas.</p>

    </mat-expansion-panel>

  </div> -->

</div>

<app-footer></app-footer>
