<div class="sheader">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer class="sidenav"
        fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <div class="clear-button" >
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" >clear</mat-icon>
      </button>
    </div>
    <!-- <mat-toolbar style="background-color: rgb(155, 108, 108);">Menu</mat-toolbar> -->
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink=''>ACCUEIL</a>
        <hr>
        <a mat-list-item routerLink='../nos-soins'>SOINS</a>
        <hr>
        <a mat-list-item routerLink='../conseils'>CONSEILS</a>
        <hr>
        <a mat-list-item routerLink='../localisation'>LOCALISATION</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="white">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <!-- <mat-icon aria-label="Side nav toggle icon">format_align_left</mat-icon> -->
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>

        </button>
        <span style="margin: 0 auto; font-size: 12px;">Plateau Médical Taslima</span>
        <!-- <span>Menu</span> -->

      </mat-toolbar>
      <!-- Add Content Here -->
    </mat-sidenav-content>
  </mat-sidenav-container>
  </div>

  <div class="bheader">
   <nav>
     <ul>
      <div class="header">
      <div class="title"><a routerLink=''>Plateau Médical Taslima</a></div>
      <span class="spacer"></span>
      <div class="links">
       <li><a routerLink=''>ACCUEIL</a></li>
       <li><a routerLink='../nos-soins'>SOINS</a></li>
       <li><a routerLink='../conseils'>CONSEILS</a></li>
       <li><a routerLink='../localisation'>LOCALISATION</a></li>
      </div>
    </div>
     </ul>
   </nav>
  </div>
