<app-aheader></app-aheader>

<div class="container">
  <h2>Liste des patients <small>Total : {{nombreTotal}}</small></h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Nom</div>
      <div class="col col-2">Prenom</div>
      <div class="col col-3">Email</div>
      <div class="col col-4">Numero de telephone</div>
      <div class="col col-5">Details</div>
    </li>
    <li class="table-row" *ngFor="let patient of patients">
      <div class="col col-1" data-label="Nom"> {{patient.last_name}}</div>
      <div class="col col-2" data-label="Prenom">{{patient.first_name}} </div>
      <div class="col col-3" data-label="Email"> {{patient.email}}</div>
      <div class="col col-4" data-label="Numero de telephone">{{patient.phone_number}}</div>
      <div class="col" id="link" data-label="Details"><a [routerLink]="['user-details/', patient.id]">Details du patient </a></div>
    </li>

  </ul>
</div>
