<app-header></app-header>
<h1>Nos Soins</h1>

<div class="soin-panels">

  <div class="soin-panel">

    <h3>Médecine générale</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>

        </mat-panel-title>
        <mat-panel-description>
          La médecine générale...
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Les services que vous offrez</p>

    </mat-expansion-panel>
  </div>

  <div class="soin-panel">

    <h3>Gynécologie</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>

        </mat-panel-title>
        <mat-panel-description>
          La gynécologie...
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Les services que vous offrez</p>

    </mat-expansion-panel>
  </div>

  <div class="soin-panel">

    <h3>Cancerologie</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>

        </mat-panel-title>
        <mat-panel-description>
          La cancérologie
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Les services que vous offrez</p>

    </mat-expansion-panel>
  </div>

  <div class="soin-panel">

    <h3>Cardiologie</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>

        </mat-panel-title>
        <mat-panel-description>
          La cardiologie...
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Les services que vous offrez </p>

    </mat-expansion-panel>
  </div>

  <div class="soin-panel">

    <h3>Chirurgie</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>

        </mat-panel-title>
        <mat-panel-description>
          La chirurgie...
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Les services que vous offrez</p>

    </mat-expansion-panel>
  </div>

  <div class="soin-panel">

    <h3>Echographie</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>

        </mat-panel-title>
        <mat-panel-description>
          L'échographie...
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Les services que vous offrez</p>

    </mat-expansion-panel>
  </div>

  <div class="soin-panel">

    <h3>Radiologie</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>

        </mat-panel-title>
        <mat-panel-description>
          La radiologie...
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Les services que vous offrez</p>

    </mat-expansion-panel>
  </div>

  <div class="soin-panel">

    <h3>ORL</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>

        </mat-panel-title>
        <mat-panel-description>
          L'orl...
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Les services que vous offrez</p>

    </mat-expansion-panel>
  </div>

  <div class="soin-panel">

    <h3>Mammographie</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>

        </mat-panel-title>
        <mat-panel-description>
          La mammographie...
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Les services que vous offrez</p>

    </mat-expansion-panel>
  </div>

  <div class="soin-panel">

    <h3>Urologie</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>

        </mat-panel-title>
        <mat-panel-description>
          L'urologie...
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Les services que vous offrez</p>

    </mat-expansion-panel>
  </div>

</div>

