<app-nheader></app-nheader>

<div class="whole">
    <h1>Creez votre fichier patient en 2 etapes simples</h1>

    <form name="form" (ngSubmit)="f.form.valid && register() " #f="ngForm"
              [mustMatch]="['password', 'confirmPassword']" novalidate>

      <div class="part_one">
        <h3>Etape 1</h3>

        <div class="fl_name">
          <div class="first_name">
              <!-- <label for="firstName">First Name</label> -->
              <input type="text" class="" name="firstName" placeholder="Prenom(s)"
              [(ngModel)]=" credentials.first_name"
              #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
              <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                  <div *ngIf="firstName.errors.required">Le prenom est requis</div>
              </div>
          </div>
          <div class="last_name">
              <!-- <label for="lastName">Last Name</label> -->
              <input type="text" class="" name="lastName" [(ngModel)]=" credentials.last_name" placeholder="Nom de famille"
               #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required />
              <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                  <div *ngIf="lastName.errors.required">Le nom est requis</div>
              </div>
          </div>
      </div>
      </div>


        <div class="part_two">

          <div class="credentials">
            <h3>Etape 2 </h3>
            <div class="credential">
                <!-- <label for="email">Email</label> -->
                <input type="text" class=" " name="email" [(ngModel)]=" credentials.email" placeholder="Email"
                #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Le Email est requis</div>
                    <div *ngIf="email.errors.email">Veuiller mettre une addresse mail valide</div>
                </div>
            </div>

            <div class="credential">
                <!-- <label for="password">Password</label> -->
                <input type="password" class="" name="password" [(ngModel)]=" credentials.password"
                #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                required minlength="6" placeholder="Mot de passe" />
                <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                    <div *ngIf="password.errors.required">Le mot de passe est requis</div>
                    <div *ngIf="password.errors.minlength">Le mot de passe doit avoir au moins 6 characteres</div>
                </div>
            </div>

            <div class="credential">
                <!-- <label for="confirmPassword">Confirm Password</label> -->
                <input type="password" class="" name="confirmPassword"
                [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required
                 placeholder="Confirmation du mot de passe"/>
                <div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-feedback">
                    <div *ngIf="confirmPassword.errors.required">La confirmation du mot de passe est requise</div>
                    <div *ngIf="confirmPassword.errors.mustMatch">Les deux mots de passe doivent etre identiques</div>
                </div>
            </div>
          </div>

          <div class="informations">

            <h3>Etape 3 </h3>

            <div class="information">
              <!-- <label for="phone_number">Phone Number</label> -->
              <input type="text" class="" name="phone_number" [(ngModel)]=" credentials.phone_number"
               #phone_number="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone_number.invalid }" required
               placeholder="Numero de telephone" />
              <div *ngIf="f.submitted && phone_number.invalid" class="invalid-feedback">
                  <div *ngIf="phone_number.errors.required">Le numero de telephone est requis</div>
              </div>
            </div>

            <div class="information">
              <!-- <label for="age">Age</label> -->
              <input type="text" class="" name="age" [(ngModel)]=" credentials.age"
               #age="ngModel" [ngClass]="{ 'is-invalid': f.submitted && age.invalid }" required
               placeholder="Age"/>
              <div *ngIf="f.submitted && age.invalid" class="invalid-feedback">
                  <div *ngIf="age.errors.required">L'age est requis</div>
              </div>
            </div>

            <div class="information">
              <!-- <label for="pdesease">P desease</label> -->
              <input type="text" class="" name="pdesease" [(ngModel)]=" credentials.pdesease"
               #pdesease="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pdesease.invalid }"
               placeholder="Maladie(s)"/>
              <!-- <div *ngIf="f.submitted && pdesease.invalid" class="invalid-feedback">
                  <div *ngIf="pdesease.errors.required">P desease is required</div>
              </div> -->
            </div>

            <div class="information">
              <!-- <label for="allergy">Allergy</label> -->
              <input type="text" class="" name="allergy" [(ngModel)]=" credentials.allergy"
               #allergy="ngModel" [ngClass]="{ 'is-invalid': f.submitted && allergy.invalid }"
               placeholder="Allergies"/>
              <!-- <div *ngIf="f.submitted && allergy.invalid" class="invalid-feedback">
                  <div *ngIf="allergy.errors.required">Allergy is required</div>
              </div> -->
            </div>

          </div>

        </div>

            <div class="button">
              <button class="">Enregistrer</button>
              <!-- <input type="submit" value="Soumettre"> -->
            </div>


    </form>



</div>



