<app-nheader></app-nheader>


<div class="container">
  <div class="jumbotron mt-5">
    <div class="col-sm-8 mx-auto">
      <h1 class="text-center">PROFILE</h1>
    </div>
    <table class="table col-md-6 mx-auto">
      <tr>
        <td>Fist Name</td>
        <td>{{ details?.first_name }}</td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>{{ details?.last_name }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ details?.email }}</td>
      </tr>
      <tr>
        <td>Phone number</td>
        <td>{{ details?.phone_number }}</td>
      </tr>
      <tr>
        <td>Age</td>
        <td>{{ details?.age }}</td>
      </tr>
      <tr>
        <td>Pdesease</td>
        <td>{{ details?.pdesease }}</td>
      </tr>
      <tr>
        <td>Allergy</td>
        <td>{{ details?.allergy }}</td>
      </tr>
      <tr>
        <td>Created</td>
        <td>{{ details?.created }}</td>
      </tr>
    </table>
  </div>
</div>
