<!-- <app-nheader></app-nheader> -->
<!-- <mat-progress-spinner></mat-progress-spinner> -->

     <h1>Administration</h1>
    <div class="formulaire">
      <form  (ngSubmit)="f.form.valid && login() " #f="ngForm" novalidate>
        <h2>Authentification</h2>
        <div class="credential">
          <!-- <label for="email">Email address</label> -->
          <input type="email" class="" name="username" placeholder="Nom d'utilisateur"
          [(ngModel)]="credentials.username" #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required />

          <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
            <div *ngIf="username.errors.required">Le nom d'utilisateur est requis</div>
        </div>
        </div>
        <div class="credential">
          <!-- <label for="password">Password</label> -->
          <input type="password" class="" name="password" placeholder="Mot de passe"
          [(ngModel)]="credentials.password" #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required />
          <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
            <div *ngIf="password.errors.required">Le mot de passe est requis</div>
          </div>
        </div>


        <div class="invalid" *ngIf="invalid">
          <h5>email ou mot de passe incorrect</h5>
        </div>

        <div class="button" *ngIf="!isLoading">
          <button type="submit">Se connecter</button>
        </div>

        <div class="" *ngIf="isLoading" >
          <mat-spinner color="warn" diameter="27" class="spinner"></mat-spinner>
        </div>

        <!-- <div class="signup">
          <h5>Si vous n'avez pas de compte, <br><span><a routerLink="/signup">
        Créez votre compte ici</a></span></h5>
        </div> -->

      </form>
    </div>


