<!-- <app-header></app-header> -->

<app-nheader></app-nheader>

<main>

    <div class="part-one">

      <div class="hello">

         <h1>Bienvenue au Plateau Médical Taslima</h1>
         <h2>Vous pouvez nous joindre au 77 611 07 77 24h/24</h2>

           <ul>

              <li> <a id="fichier-patient" routerLink='../signup'>Créez votre fichier patient ici!</a> </li>

              <li> <a id="rendez-vous" routerLink='../rendez-vous'>Prendre un rendez vous</a> </li>

           </ul>

      </div>

    </div>

    <div class="accueil-paragraph">
      <h1>Vivez une experience médicale unique</h1>
      <p>

        Nous vous souhaitons la bienvenue au Plateau Médical Taslima. Rétablir et maintenir votre santé est
        notre objectif principal. Afin d'améliorer la qualité de nos services nous mettons à votre disposition
        une équipe compréhensive, qualifiée et experimentée qui s'assurera de vous soigner dans les meilleures
        conditions. Nous vous offrons le choix entre une multitude de spécialités pour pour mieux répondre à votre
        besoin. Vous pouvez prendre un <span><a routerLink='../rendez-vous'>rendez vous</a></span> à tout moment.

      </p>
      <h2>Votre santé notre priorité</h2>
    </div>

    <div class="clinique">
      <h1>Soignez vous dans un cadre calme et agréable</h1>

      <div class="photos">

        <div class="photo">
          <img src="assets/img/img77.jpg" alt="clinique" >
        </div>

        <div class="photo">
          <img src="assets/img/img55.jpg" alt="clinique" >
        </div>

        <div class="photo">
          <img src="assets/img/img11.jpg" alt="clinique" >
        </div>

        <div class="photo">
          <img src="assets/img/img66.jpg" alt="clinique" >
        </div>

        <div class="photo">
          <img src="assets/img/img22.jpg" alt="clinique" >
        </div>

        <div class="photo">
          <img src="assets/img/img33.jpg" alt="clinique" >
        </div>

        <div class="photo">
          <img src="assets/img/img44.jpg" alt="clinique" >
        </div>

        <div class="photo">
          <img src="assets/img/img5.jpg" alt="clinique" >
        </div>

      </div>

    </div>

    <div class="global-specialites">

      <h1>Dans quelle specialité souhaitez vous prendre un rendez vous ?</h1>
      <!-- Vous souhaitez prendre un rendez vous dans quelle specialite ?
      Dans quelle specialité souhaitez vous prendre un rendez vous ?
      -->
      <div class="all-specialites">

        <div class="specialite">
          <h3>Médecine générale</h3>
          <a routerLink='../rendez-vous'>Prendre un rendez vous ici </a>
        </div>

        <div class="specialite">
          <h3>Gynécologie obstétricale</h3>
          <a routerLink='../rendez-vous'>Prendre un rendez vous ici </a>
        </div>

        <div class="specialite">
          <h3>Cardiologie</h3>
          <a routerLink='../rendez-vous'>Prendre un rendez vous ici </a>
        </div>

        <div class="specialite">
          <h3>Radiologie</h3>
          <a routerLink='../rendez-vous'>Prendre un rendez vous ici </a>
        </div>

        <div class="specialite">
          <h3>Cancérologie</h3>
          <a routerLink='../rendez-vous'>Prendre un rendez vous ici </a>
        </div>

        <div class="specialite">
          <h3>Chirurgie</h3>
          <a routerLink='../rendez-vous'>Prendre un rendez vous ici </a>
        </div>

        <div class="specialite">
          <h3>Echographie</h3>
          <a routerLink='../rendez-vous'>Prendre un rendez vous ici </a>
        </div>


        <div class="specialite">
          <h3>ORL</h3>
          <a routerLink='../rendez-vous'>Prendre un rendez vous ici </a>
        </div>

        <div class="specialite">
          <h3>Mammographie</h3>
          <a routerLink='../rendez-vous'>Prendre un rendez vous ici </a>
        </div>

        <div class="specialite">
          <h3>Urologie</h3>
          <a routerLink='../rendez-vous' >Prendre un rendez vous ici </a>
        </div>

        <div class="specialite">
          <h3>Pédiatrie</h3>
          <a routerLink='../rendez-vous' >Prendre un rendez vous ici </a>
        </div>

        <div class="specialite">
          <h3>Chimiothérapie</h3>
          <a routerLink='../rendez-vous' >Prendre un rendez vous ici </a>
        </div>

        <div class="specialite">
          <h3>Soins palliatifs</h3>
          <a routerLink='../rendez-vous' >Prendre un rendez vous ici </a>
        </div>

      </div>

    </div>

</main>
<app-footer></app-footer>
