<app-header></app-header>

<main>

    <div class="part-one">

      <div class="hello">

         <h1>Bienvenue au Plateau Médical Taslima</h1>
         <h2>Vous pouvez nous joindre au 33 898 34 45 24h/24</h2>

           <ul>

              <li> <a id="fichier-patient" routerLink='../fichier-patient'>Créez votre fichier patient ici!</a> </li>

              <li> <a id="rendez-vous" routerLink='../rendez-vous'>Prendre un rendez vous</a> </li>
                 <!-- <p>defilez vers le bas pour voir la geolocalisation</p> -->
           </ul>

      </div>

    </div>

    <div class="accueil-paragraph">
      <h1>Vivez une experience médicale inoubliable</h1>
      <p>
        Enjoy your life. We’ve got the keeping you part covered. At Florida Medical Clinic,
        we are dedicated to one very important thing. Keeping you healthy. And that’s because we look at
        healthcare through a simple but very different lens. We offer a comprehensive range of  preventative
        care services and chronic disease management programs to get – or keep – you healthy. All supported by a
        team of compassionate and experienced medical providers who routinely monitor your health.
        By proactively identifying gaps in care, we can get ahead of medical concerns before they become medical
        conditions. This is the kind of healthcare that keeps you focused on what’s most important. Enjoying your
        life.
      </p>
      <h3>Votre santé notre priorité</h3>
    </div>

    <div class="clinique">
      <h1>Soignez vous dans un cadre calme et agreable</h1>

      <div class="photos">

        <div class="photo">
          <img src="assets/img/12.jpg" alt="clinique" >
        </div>

        <div class="photo">
          <img src="assets/img/12.jpg" alt="clinique" >
        </div>

        <div class="photo">
          <img src="assets/img/12.jpg" alt="clinique" >
        </div>

        <div class="photo">
          <img src="assets/img/12.jpg" alt="clinique" >
        </div>

        <div class="photo">
          <img src="assets/img/12.jpg" alt="clinique" >
        </div>

        <div class="photo">
          <img src="assets/img/12.jpg" alt="clinique" >
        </div>

        <div class="photo">
          <img src="assets/img/12.jpg" alt="clinique" >
        </div>

        <div class="photo">
          <img src="assets/img/12.jpg" alt="clinique" >
        </div>

      </div>

    </div>

    <div class="specialites">

      <h1>Profitez de nos differentes specialites</h1>

    </div>

</main>


<footer></footer>

