<div class="admin-link">
  <a routerLink='../administration'> Retour à l'administration</a>
</div>

<h1>Liste des rendez vous</h1>

<div class="rdv-liste">

  <div class="single-rdv" *ngFor="let rdv of rdvs">

    <h2> {{rdv.firstName}}  {{rdv.lastName}} </h2>

    <p>a pris un rendez vous en </p>

    <h3> {{rdv.speciality}} </h3>

    <p>pour le {{rdv.date}} </p>

    <p> Son numéro de telephone est : {{rdv.phoneNumber}} </p>

    <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Rendez vous confirmé</label> -->

  </div>

</div>



